.main {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-dark {
  background: rgb(0, 10, 48);
  background: linear-gradient(
    90deg,
    rgba(0, 10, 48, 1) 0%,
    rgba(83, 0, 255, 1) 100%
  );
}

.main-light {
  background: rgb(0, 110, 221);
  background: linear-gradient(
    90deg,
    rgba(0, 110, 221, 1) 0%,
    rgba(0, 251, 255, 1) 100%
  );
}
